@import "../styles/theme-variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

.container {
  margin: auto;
  padding: 0 2rem;
  max-width: 737px;
}

a {
  text-decoration: none;
  color: inherit;
}

.layout {
  min-height: 100vh;

  &.theme-light {
    background: #fff;
  }

  &.theme-dark {
    background: #050505;
  }

  &.font-sans-serif {
    font-family: "Inter", sans-serif;
  }

  &.font-serif {
    font-family: "Lora", serif;
  }

  &.font-mono {
    font-family: "Inconsolata", monospace;
  }
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
